html,body { width: 100%; height: 100%; }

/* Changing fonts */
	@font-face {font-family: "FTB"; src: url("../fonts/FTB.ttf"); }
	@font-face {font-family: "FTLC"; src: url("../fonts/FTLC.ttf"); }
body{
	background-color: #f9ecf2;
}
.emily{
	position: absolute;
	font-size: 5vw;
	font-family: FTB;
	top:10%;
	left:40%;
	color:white;
}
.title{
	font-size: 2vw;
	font-family: FTB;
	color:white;
	text-align: center;
}
.title:hover{
	color:#ecc6d9;/*
  	cursor: pointer;*/
}
img{
	transform: scale(0.2);
}
.one img {
	opacity: 0;
}
.one:hover img {
	opacity: 1;
}
.two img {
	opacity: 0;
}
.two:hover img {
	opacity: 1;
}
/*.custom {
  cursor: url(./img/human.png), auto;
}*/
.click{
	position: absolute;
	top:30%;
	left:10%;
}
.personal{
	position: absolute;
	top:38%;
	left:18%;
}
.personalarchive{
	position: absolute;
	top:47%;
	left:32%;
}
.coding{
	position: absolute;
	top:57%;
	right:29%;
}
.codingarchive{
	position: absolute;
	top:68%;
	right:10%;
}