html,body { width: 100%; height: 100%; }

/* Changing fonts */
	@font-face {font-family: "FTB"; src: url("../fonts/FTB.ttf"); }
	@font-face {font-family: "FTLC"; src: url("../fonts/FTLC.ttf"); }
body{
	background-color: #a8999d;
}
.emily{
	position: absolute;
	font-size: 5vw;
	font-family: FTB;
	top:10%;
	left:40%;
	color:white;
}
.title{
	font-size: 25px;
	font-family: Arial;
	color:white;
	text-align: center;
	background-color:#afa1a5;
	padding:15px;
}
.title:hover{
	color:#ecc6d9;/*
  	cursor: pointer;*/
}
.a{
	position:absolute;
	top:25%;
	left:30%;
}
.b{
	position:absolute;
	top:35%;
	left:30%;
}
.c{
	position:absolute;
	top:45%;
	left:30%;
}
.d{
	position:absolute;
	top:55%;
	left:30%;
}
.e{
	position:absolute;
	top:65%;
	left:30%;
}
.f{
	position:absolute;
	top:75%;
	left:30%;
}
.one img {
	opacity: 0;
	width:7%;
	height:auto;
}
.one:hover img {
	opacity: 1;
}
.two img {
	opacity: 0;
}
.two:hover img {
	opacity: 1;
}
/*.custom {
  cursor: url(./img/human.png), auto;
}*/
.click{
	position: absolute;
	top:30%;
	left:50%;
	text-align:center; 
	display:inline-block;
	transform: translate(-50%, -50%);
}
.personal{
	position: absolute;
	top:40%;
	left:50%;
	display:inline-block;
	transform: translate(-50%, -50%);
}
.personalarchive{
	position: absolute;
	top:50%;
	left:50%;
	display:inline-block;
	transform: translate(-50%, -50%);
}
.coding{
	position: absolute;
	top:60%;
	left:50%;
	display:inline-block;
	transform: translate(-50%, -50%);

}
.codingarchive{
	position: absolute;
	top:70%;
	left:50%;
	display:inline-block;
	transform: translate(-50%, -50%);

}
.archive{
	position: absolute;
	top:80%;
	left:50%;
	display:inline-block;
	transform: translate(-50%, -50%);

}