
html,body { width: 100%; height: 200%; }
body {
	margin:20px;
	overflow: scroll;
	overflow-y: auto;

}

/* Changing fonts */
	@font-face {font-family: "UniversBlack"; src: url("../fonts/UniversBlack.ttf"); }
	@font-face {font-family: "UniversLTStd-Bold"; src: url("../fonts/UniversLTStd-Bold.otf"); }
	@font-face {font-family: "UniversLTStd"; src: url("../fonts/UniversLTStd.otf"); }


.home{
	/* #AwkwardMoment: */
	position: fixed;
	font-family: UniversLTStd-Bold;
	font-size: 22px;
	color: #0B8DC8;
	left:20px;
	top:20px;
}
.page2link:hover{
	color:#0B8DC8;
}
.bodycontent{
	/* One of my female fri: */
	position:fixed;
	top:8%;
	overflow: scroll;
	overflow-y: auto;
/*	margin:auto;*/
	font-family: UniversLTStd;
	font-size: 17px;
	color: black;
/*	line-height: 37px;*/
/*	padding-top:10%;*/
	margin-right: 25%;
	margin-left: 26%;
	-webkit-animation-name: move;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: bottom;
    -webkit-animation-timing-function: linear;
}
.bodycontent:hover{
	-webkit-animation-play-state: paused;
    }
    
    @-webkit-keyframes move {
    	0% {
    		margin-top: -400px;
    	}
    	100% {
    		margin-bottom: 800px;
    	}
    }
}
.post{
	/* One of my female fri: */
/*	position:fixed;*/
	top:5%;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
	padding-top:10%;
	padding-right: 25%;
}
.post2{
/*position: fixed;*/
padding-right: 25%;
top:54%;
}

.post3{
/*position: fixed;*/
padding-right: 25%;
top:81%;
}
.post4{
/*position: fixed;*/
padding-right: 25%;
top:111%;
}
/*.post1{
position:fixed;
padding-right:20%;
top:30%;
}*/

.author{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	color: #000000;
/*	-webkit-animation-name: move;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: bottom;
    -webkit-animation-timing-function: linear;*/
/*	padding-bottom:5px;*/
}
/*.bodycontent:hover{
	-webkit-animation-play-state: paused;
    }
    
    @-webkit-keyframes move {
    	0% {
    		margin-top: -400px;
    	}
    	100% {
    		margin-bottom: 800px;
    	}
    }
}*/
.author1{
	position:fixed;
	top:15.5%;
}
.author2{
	position:fixed;
	top:45%;
}
.author3{
	position:fixed;
	top:73%;
}
.author4{
	position:fixed;
	top:100%;
}

.username{
	/* @maglolz: */

	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	color: #000000;
	padding-bottom:10px;
}
.username1{
	position:fixed;
	top:18.5%;
}
.username2{
	position:fixed;
	top:47.5%;
}
.username3{
	position:fixed;
	top:75.5%;
}
.username4{
	position:fixed;
	top:105%;
}
.date{
	font-style: italic;
	/* 16 Dec 2017: */
	font-family: UniversLTStd;
	font-size: 13px;
	color: #000000;
}
.date1{
	top:18%;
	right:25%;
	position:fixed;
}

.date2{
	top:47.5%;
	right:25%;
	position:fixed;
}
.date3{
	top:75.5%;
	right:25%;
	position:fixed;
}
.date4{
	top:105%;
	right:25%;
	position:fixed;
}
hr.line1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    /*margin space top bottom*/
    margin: .75em 0;
    padding-bottom:30%;

}
hr.line2 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    /*margin space top bottom*/
    margin: .75em 0;
    padding-bottom:30%;

}
hr.line3 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    /*margin space top bottom*/
    margin: 2em 0;
    padding-bottom:30%;

}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;

}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
   	left:49%;
    position:fixed;
    top:4%;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
   	left:49%;
   	bottom:4%;
    position:fixed;
}
.mainpost1{
		/* One of my female fri: */
	font-family: UniversLTStd;
	font-size: 30px;
	padding-top:20%;
	padding-right: 19%;
	padding-left: 20%;
	line-height: 40px;
	text-align: left ;
	color: black;
	line-height: 48px;
}
.authormainpost1{
/* Chasing Holiness Copy: */
font-family: UniversLTStd-Bold;
font-size: 24px;
color: #000000;
position: fixed;
}