
html,body { width: 100%; height: 100%; }
body {
	margin:20%;
}

/* Changing fonts */
	@font-face {font-family: "UniversBlack"; src: url("../fonts/UniversBlack.ttf"); }
	@font-face {font-family: "UniversLTStd-Bold"; src: url("../fonts/UniversLTStd-Bold.otf"); }
	@font-face {font-family: "UniversLTStd"; src: url("../fonts/UniversLTStd.otf"); }


.home{
	/* #AwkwardMoment: */
	position: fixed;
	font-family: UniversLTStd-Bold;
	font-size: 20px;
	color: #0B8DC8;
	left:20px;
	top:20px;
}
.arrowup{
	transform:scale(3);
	position:fixed;
	left:50%;
	top:5%;
	color:black;
}
.arrowup:hover{
	color:gray;
}
.arrowdown{
	transform:scale(3);
	position:fixed;
	left:50%;
	bottom:5%;
	color:black;
}
.arrowdown:hover{
	color:gray;
}

/*i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;

}*/
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
   	left:49%;
    position:fixed;
    top:4%;
}
.down {
	position:fixed;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
   	left:49%;
   	bottom:4%;
    
}
.mainpost1{
		/* One of my female fri: */
	font-family: UniversLTStd;
	position:fixed;
	font-size: 30px;
	top: 43.5%;
	padding-right: 19%;
	text-align: left ;
	color: black;
	line-height: 48px;
}
.mainpost1hidden{
	color:#FBFBFB;
}
.mainpost1hidden:hover{
	background-color:darkgray;
}

.mainpost2{
		/* One of my female fri: */
	font-family: UniversLTStd;
	position:fixed;
	font-size: 30px;
	padding-top:10%;
	padding-top: 22%;
	padding-right: 19%;
	padding-left: 20%;
	line-height: 40px;
	text-align: left ;
	color: black;
	line-height: 48px;
}
.authormainpost1{
/* Chasing Holiness Copy: */
font-family: UniversLTStd-Bold;
font-size: 24px;
color: #000000;
position: fixed;
left:16%;
padding-left:5px;
top:33.5%;
}
.usernamemainpost1{
/* @sitlausdeo copy: */
font-family: UniversLTStd;
font-size: 17px;
color: #000000;
position: fixed;
left:30%;
top:34%;
}

.usernamemainpost2{
/* @sitlausdeo copy: */
font-family: UniversLTStd;
font-size: 17px;
color: #000000;
position: fixed;
left:25%;
top:34.3%;
}
.usernamemainpost3{
/* @sitlausdeo copy: */
font-family: UniversLTStd;
font-size: 17px;
color: #000000;
position: fixed;
left:30%;
top:34.3%;
}
.usernamemainpost4{
/* @sitlausdeo copy: */
font-family: UniversLTStd;
font-size: 17px;
color: #000000;
position: fixed;
left:22%;
top:34.3%;
}
.usernamemainpost5{
/* @sitlausdeo copy: */
font-family: UniversLTStd;
font-size: 17px;
color: #000000;
position: fixed;
left:28%;
top:34.3%;
}
.usernamemainpost6{
/* @sitlausdeo copy: */
font-family: UniversLTStd;
font-size: 17px;
color: #000000;
position: fixed;
left:31%;
top:34.3%;
}
.usernamemainpost7{
/* @sitlausdeo copy: */
font-family: UniversLTStd;
font-size: 17px;
color: #000000;
position: fixed;
left:33%;
top:34.3%;
}
.datemainpost1{
/* @sitlausdeo copy: */
font-family: UniversLTStd;
font-size: 17px;
color: #000000;
position: fixed;
right:17%;
top:34.3%;
}

/*.rectange{
	transition: all 0.4s ease-in-out;
-webkit-transform: translate3d(0,0,0);
}
.rectangle:hover{
transform: translateX(1000px);


}*/
/*.whitebox {
	position:fixed;
	top:45%;
	z-index: 2;
	left:30%;
	background:white;
	left:80%;
	width: 400px;
	height: 400px;	
}*/

/*.rectangle1 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:51%;
	left:35.5%;
	transition: all 0.8s ease-in-out;
}
.rectangle1:hover{
transform: translateX(1000px);

}
.rectangle2 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:57%;
/*	left:21.5%;*/
/*	transition: all 0.8s ease-in-out;
}
.rectangle2:hover{
transform: translateX(1500px);

}
.rectangle01 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:45%;
	left:63%;
	transition: all 0.8s ease-in-out;
}
.rectangle01:hover{
transform: translateX(1500px);
}
.rectangle3 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:63%;
/*	left:21.5%;*/
/*	transition: all 0.8s ease-in-out;
}*/
/*full length 2nd*/
/*.rectangle3:hover{
transform: translateX(1500px);

}
.rectangle4 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:51%;
	left:41%;
	padding-right:19%;
	transition: all 0.8s ease-in-out;
}
.rectangle4:hover{
	transform: translateX(1000px);

}
.rectangle5 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:51%;
	transition: all 0.8s ease-in-out;
}*/
/*full length 3rd*/
/*.rectangle5:hover{
transform: translateX(1500px);

}
.rectangle6 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	left:25.5%;
	top:57%;
	transition: all 0.8s ease-in-out;
}
.rectangle6:hover{
transform: translateX(1500px);

}*/
/*full length 4th*/
/*.rectangle7 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:57%;
	transition: all 0.8s ease-in-out;
}
.rectangle7:hover{
transform: translateX(1500px);

}


.rectangle11 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:51%;
	left:64.5%;
	transition: all 0.8s ease-in-out;
}
.rectangle11:hover{
transform: translateX(1500px);

}
.rectangle13 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:51%;
	left:46%;
	transition: all 0.8s ease-in-out;
}
.rectangle13:hover{
transform: translateX(1500px);

}
.rectangle14 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:51%;
	left:39%;
	transition: all 0.8s ease-in-out;
}
.rectangle14:hover{
transform: translateX(1500px);

}
.rectangle8 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	left:24.5%;
	top:51%;
	transition: all 0.8s ease-in-out;
}
.rectangle8:hover{
transform: translateX(1500px);

}
.rectangle9 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	left:35.5%;
	top:51%;
	transition: all 0.8s ease-in-out;
}
.rectangle9:hover{
transform: translateX(1500px);

}*/
/*full length5th line*/
/*.rectangle12 {
	position: fixed;
	width: 100%;
	height: 32px;
	background: #616161;
	top:69.5%;
	transition: all 0.8s ease-in-out;
}
.rectangle12:hover{
transform: translateX(1500px);
}*/

