html,body { width: 100%; height: 200%; }
body {
	margin:20px;
	overflow: scroll;
	overflow-y: auto;

}

/* Changing fonts */
	@font-face {font-family: "UniversBlack"; src: url("../fonts/UniversBlack.ttf"); }
	@font-face {font-family: "UniversLTStd-Bold"; src: url("../fonts/UniversLTStd-Bold.otf"); }
	@font-face {font-family: "UniversLTStd"; src: url("../fonts/UniversLTStd.otf"); }

link {
    display: none;
}


hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: .75em 0;
    padding-bottom:2.5%;
}
.home{
	/* #AwkwardMoment: */
	position: fixed;
	font-family: UniversLTStd-Bold;
	font-size: 22px;
	color: #0B8DC8;
	left:20px;
	top:20px;
}

.bodycontent{
	position:relative;
	display: inline-block;
	top:8%;
	font-family: UniversLTStd;
	color: black;
	line-height: 37px;
	margin-right: 25%;
	margin-left: 26%;
	-webkit-animation-name: move;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: bottom;
    -webkit-animation-timing-function: linear;
}
.bodycontent:hover{
	-webkit-animation-play-state: paused;
    }
    
    @-webkit-keyframes move {
    	0% {
    		margin-top: -100px;
    	}
    	
    	100% {
    		margin-top: -1000px;
    	}
    }
/*.page2link{
	color:black;
}
.page2link:hover{
	color:#0B8DC8;
}
.ppost1:hover{
	color:black;

}
.ppost1:hover{
	color:#0B8DC8;
}*/
.ppost1{
	color: black;
}
.ppost1:hover{
	color: darkgray;
}
.author1{
	font-family: UniversLTStd-Bold;
	font-size: 18px;
}
.username1{

	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	position:absolute;
	top:0.5%;
}
.date1{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:1.5%;
}

.post1{
	padding-top:2.5%;
	font-family: UniversLTStd;
	font-size: 20px;
	line-height: 33px;
}
.post1:hover{
	color: darkgray;
}

.post1hidden{
	color:#FBFBFB;
}


/*.author1{
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	color: #000000;

}

.username1{

	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	color: #000000;
	position:absolute;
	top:0.5%;
}
.date1{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	color: #000000;
	right:0%;
	position:absolute;
	top:1.5%;
}

.post1{
	padding-top:2.5%;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}*/
.ppost2{
	color: black;
}
.ppost2:hover{
	color: darkgray;
}
.author2{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	padding-bottom: 1.5
}

.username2{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:5.5%;
}
.date2{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:52%;
}
.post2{
	padding-top:2.5%;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post2:hover{
	color: darkgray;
}

.post2hidden{
	color:#FBFBFB;
}

.ppost3{
	color: black;
}
.ppost3:hover{
	color: darkgray;
}
.author3{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username3{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:10.8%;
}
.date3{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:52%;
}
.post3{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post3:hover{
	color: darkgray;
}

.post3hidden{
	color:#FBFBFB;
}
.ppost4{
	color: black;
}
.ppost4:hover{
	color: darkgray;
}
.author4{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username4{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:17.1%;
}
.date4{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:52%;
}
.post4{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post4:hover{
	color: darkgray;
}

.post4hidden{
	color:#FBFBFB;
}
.ppost5{
	color: black;
}
.ppost5:hover{
	color: darkgray;
}
.author5{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username5{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:22.3%;
}
.date5{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:52%;
}
.post5{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post5:hover{
	color: darkgray;
}

.post5hidden{
	color:#FBFBFB;
}
.ppost6{
	color: black;
}
.ppost6:hover{
	color: darkgray;
}
.author6{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username6{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:27.66%;
}
.date6{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:52%;
}
.post6{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post6:hover{
	color: darkgray;
}

.post6hidden{
	color:#FBFBFB;
}
.ppost7{
	color: black;
}
.ppost7:hover{
	color: darkgray;
}
.author7{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username7{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:33%;
}
.date7{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:52%;
}
.post7{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post7:hover{
	color: darkgray;
}

.post7hidden{
	color:#FBFBFB;
}
.ppost8{
	color: black;
}
.ppost8:hover{
	color: darkgray;
}
.author8{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username8{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:38.3%;
}
.date8{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:56.9%;
}
.post8{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post8:hover{
	color: darkgray;
}

.post8hidden{
	color:#FBFBFB;
}
.ppost9{
	color: black;
}
.ppost9:hover{
	color: darkgray;
}
.author9{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username9{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:44.5%;
}
.date9{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:66.1%;
}
.post9{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post9:hover{
	color: darkgray;
}

.post9hidden{
	color:#FBFBFB;
}
.ppost10{
	color: black;
}
.ppost10:hover{
	color: darkgray;
}
.author10{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username10{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:50.7%;
}
.date10{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:75.4%;
}
.post10{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post10:hover{
	color: darkgray;
}

.post10hidden{
	color:#FBFBFB;
}
.ppost11{
	color: black;
}
.ppost11:hover{
	color: darkgray;
}
.author11{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username11{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:56.9%;
}
.date11{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:84.55%;
}
.post11{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post11:hover{
	color: darkgray;
}

.post11hidden{
	color:#FBFBFB;
}
.ppost12{
	color: black;
}
.ppost12:hover{
	color: darkgray;
}
.author12{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}
.username12{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:63.1%;
}
.date12{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:93.75%;
}
.post12{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post12:hover{
	color: darkgray;
}

.post12hidden{
	color:#FBFBFB;
}
.ppost13{
	color: black;
}
.ppost13:hover{
	color: darkgray;
}
.author13{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username13{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:67.5%;
}
.date13{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:93.75%;
}
.post13{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post13:hover{
	color: darkgray;
}

.post13hidden{
	color:#FBFBFB;
}
.ppost14{
	color: black;
}
.ppost14:hover{
	color: darkgray;
}
.author14{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username14{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:73.7%;
}
.date14{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:93.75%;
}
.post14{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post14:hover{
	color: darkgray;
}

.post14hidden{
	color:#FBFBFB;
}
.ppost15{
	color: black;
}
.ppost15:hover{
	color: darkgray;
}
.author15{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username15{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:78.1%;
}
.date15{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:93.75%;
}
.post15{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post15:hover{
	color: darkgray;
}

.post15hidden{
	color:#FBFBFB;
}
.ppost16{
	color: black;
}
.ppost16:hover{
	color: darkgray;
}
.author16{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username16{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:83.4%;
}
.date16{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:93.75%;
}
.post16{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post16:hover{
	color: darkgray;
}

.post16hidden{
	color:#FBFBFB;
}
.ppost17{
	color: black;
}
.ppost17:hover{
	color: darkgray;
}
.author17{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username17{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:89.65%;
}
.date17{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:93.75%;
}
.post17{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post17:hover{
	color: darkgray;
}

.post17hidden{
	color:#FBFBFB;
}
.ppost18{
	color: black;
}
.ppost18:hover{
	color: darkgray;
}
.author18{
	/* Mohammad Ali */
	font-family: UniversLTStd-Bold;
	font-size: 18px;
	/*padding-top:10%;*/
}

.username18{
	/* @maglolz: */
	font-family: UniversLTStd;
	font-size: 13px;
	font-style: italic;
	padding-top:1.5%;
	position:absolute;
	top:94.95%;
}
.date18{
	font-style: italic;
	font-family: UniversLTStd;
	font-size: 13px;
	right:0%;
	position:absolute;
	top:93.75%;
}
.post18{
	padding-top:19px;
	font-family: UniversLTStd;
	font-size: 20px;
	color: black;
	line-height: 33px;
}
.post18:hover{
	color: darkgray;
}

.post18hidden{
	color:#FBFBFB;
}

