html,body { width: 100%; height: 100%; }

/* Changing fonts */
	@font-face {font-family: "FTB"; src: url("../fonts/FTB.ttf"); }
	@font-face {font-family: "FTLC"; src: url("../fonts/FTLC.ttf"); }


h1{
	position:fixed;
	top:0%;
	left:1%;
	font-size:18pt;
	line-height: 40pt;
	text-align: center;
}
body{
	font-family: FTB;
	font-size: 17px;
}
.travel{
	position:fixed;
	top:40%;
	right:45%;}

.travel1{
	width: 200px;
    height: auto;
	/*padding-left:30px;
	padding-right:30px;*/
}
.home{
	position:fixed;
	top:40%;
	right:26%;

}
.home1{
	width: 200px;
    height: auto;
}
.food{
	position:fixed;
	top:40%;
	left:5%;
}
.food1{
	width: 200px;
    height: auto;
}
.lifestyle{
	position:fixed;
	top:40%;
	left:23%;
}

.lifestyle1{
	width: 200px;
    height: auto;
}

.missing{
	position:fixed;
	  top:40%;
	right:5%;
}
.missing1{
	width: 230px;
    height: auto;

}

.hotpot{
	position:fixed;
	top:28%;
	right:20%;
	width: 370px;
    height: auto;
}
.yogurt{
	position:fixed;
	top:21%;
	left:20%;
	width: 370px;
    height: auto;
}
.esra{
	position:fixed;
	bottom:31%;
	left:35%;
}
.khe{
	position:fixed;
	bottom:31%;
	right: 21%;
}
.family{
	position:fixed;
	top:30%;
	right:22%;
	width: 350px;
    height: auto;
}
.china{
	position:fixed;
	top:28%;
	left:21%;
	width: 370px;
    height: auto;
}
.shut{
	position:fixed;
	bottom:29%;
	left:37%;
}
.emily{
	position:fixed;
	bottom:29%;
	right: 24%;
	z-index: 2;
}
.parsons{
	position:fixed;
	bottom:13%;
	right:12%;
	width: 310px;
    height: auto;
}
.routine{
	position:fixed;
	top:8%;
	right:13.5%;
	width: 290px;
    height: auto;
}
.swim{
	position:fixed;
	top:8%;
	left:40%;
	width: 350px;
    height: auto;
}
.shower{
	position:fixed;
	top:8%;
	left:12%;
	width: 300px;
    height: auto;
}
.bg{
    position:fixed;
	bottom:13%;
	left:12%;
	width: 300px;
    height: auto;
}
.dog{
	position:fixed;
	bottom:13%;
	right:40%;
	width: 310px;
    height: auto;
}

.kristen{
	position:fixed;
	bottom:14%;
	right: 10%;
	z-index: 2;
}
.jahyun{
	
	position:fixed;
	top:41%;
	left:28%;
	z-index: 2;
}
.vincentg{
	position:fixed;
	top:41%;
	left:58%;
	z-index: 2;
}
.yangchen{
	position:fixed;
	top:41%;
	right: 10%;
	z-index: 2;
}
.seowon{
	position:fixed;
	bottom:14%;
	right:37%;
	z-index: 2;
}
.prithi{
	position:fixed;
	bottom:14%;
	left:28%;
	z-index: 2;
}


.roadtrip{
	position:fixed;
	top:28%;
	left:12%;
	width: 280px;
    height: auto;
}
.costa{
	position:fixed;
	top:28%;
	right:12%;
	width: 330px;
    height: auto;
}
.threetrip{
	position:fixed;
	top:28%;
	right:38%;
	width: 330px;
    height: auto;
}

.soyeon{
	position:fixed;
	bottom:24%;
	right:37%;
	z-index: 2;
}
.evelin{
	position:fixed;
	bottom:24%;
	right: 10%;
	z-index: 2;
}
.emil{
	position:fixed;
	bottom:24%;
	left:28%;
	z-index: 2;
}

.missing3{
	position:fixed;
	top:25%;
	right:20%;
	width: 370px;
    height: auto;
}
.missing2{
	position:fixed;
	top:25%;
	left:20%;
	width: 370px;
    height: auto;
}
.yaren{
	position:fixed;
	bottom:31%;
	left:37%;
}
.vincentp{
	position:fixed;
	bottom:31%;
	right: 22%;
	z-index: 2;
}

