html,body { width: 100%; height: 100%; }

/* Changing fonts */
	@font-face {font-family: "FTB"; src: url("../fonts/FTB.ttf"); }
	@font-face {font-family: "FTLC"; src: url("../fonts/FTLC.ttf"); }
body{
	margin:0;
	font-family: FTB ;
}

.pens{
	position:absolute;
	display: inline-block;
	width:30%;
	height:auto;
	margin-right:0;
	right:0px;
	top:70px;
}
.ink{
	width:370px;
	right:0;
	padding:0;
	margin-right:0;
}

.strokes{
	position:absolute;
	width:30%;
	height:auto;
	right:730px;
	top:80px;
	display: inline-block;
}
.inkline{
	display: inline-block;
	padding: 80px;
	left:500px;
	width:900px;
	height: auto;
}
/*.pen{
	top:20px;
	left:0;
	padding:45px;

}
.test{
	position:absolute;
	right:0;
	float:left;
}
.inkline{
	right:270px;
	margin-top:100px;
	margin-bottom: 100px;
	width:700px;
	height:auto;
	position:absolute;
	display:inline-block;
	padding-bottom: 50px;
}*/
/*.inkline{
	position: absolute;
	top:20px;
	width:1200px;
	height:auto;
	display: inline-block;
	transform: scale(0.6);
	padding-bottom: 45px;
}*/
.nav{
	font-family: FTB ;
	font-size: 15px;
	color:#848484;
}
.about{
	position:fixed;
	float:left;
	right:24px;
	top:90px;
	color:#848484;
	z-index: 5;
	display: inline-block;
	margin-right:15px;
	transform: rotate(90deg); 
	padding-bottom: 5px;
}
.about:hover {
  border-bottom: 2px solid lightgray;
}
.collection{
	position:fixed;
	float:left;
	right:-14px;
	top:220px;
	color:#848484;
	display: inline-block;
	transform: rotate(90deg); 
	padding-bottom: 5px;
}
.collection:hover {
  border-bottom: 2px solid lightgray;
}
.title{
	position:fixed;
	left:-15px;
	padding-right:10px;
	bottom:115px;
	font-size: 22px;
	color:#848484;
	z-index: 5;
	transform: rotate(90deg);
}
.photohome{
	position:absolute;
	display: inline-block;
	top:40px;
	right:62px;
	width:1300px;
	height:auto;
}

.home{
	position:fixed;
	z-index: 3;
	left:-15px;
	transform: scale(0.4);
	margin:0;
}

.stroke{
	position:absolute;
	width:100px;
	height:auto;
	z-index: 3;
	top:190px;
	right:1220px;

}
.a{
	padding-bottom: 48px;
}
.ab{
	padding-right:30px;
	padding-top:84px;

}
.ac{
	padding-top:60px;
	padding-bottom: 60px;
}
.ad{
	padding-top:100px;
	padding-bottom: 60px;
}
.ae{
	padding-right:90px;
	padding-top:80px;
}
.af{
	padding-right:100px;
	padding-top:60px;
	padding-bottom: 65px;
}
.ag{
	padding-top:70px;
	padding-bottom: 40px;
	padding-right:120px;
}
.ah{
	padding-top:50px;
	padding-bottom: 70px;
	padding-right:120px;
}
.ai{
	padding-top:60px;
	padding-bottom: 60px;
	padding-right:100px;
}
.aj{
	padding-top:40px;
	padding-bottom: 80px;
	padding-right:120px;
}
.ak{
	padding-top:50px;
	padding-bottom:78px;
	padding-right:120px;
}

.al{
	padding-top:60px;
	padding-bottom:80px;
	padding-right:110px;
}
.am{
	padding-right:100px;
	padding-top:40px;
	padding-bottom: 65px;
}

.an{
	padding-right:100px;
	padding-top:70px;
	padding-bottom: 45px;
}
.ao{
	padding-right:120px;
	padding-top:70px;
	padding-bottom: 55px;
}
.ap{
	padding-top:50px;
	padding-bottom:60px;
	padding-right:110px;
}



.aq{
	padding-top:65px;
	padding-bottom: 30px;
	padding-right:60px;
}
.ar{
	padding-top:20px;
	padding-bottom: 20px;
	padding-right:75px;
}
.as{
	padding-top:50px;
	padding-bottom: 35px;
	padding-right:60px;
}
.at{
	padding-top:25px;
	padding-bottom: 25px;
	padding-right:60px;
}
.au{
	padding-top:55px;
	padding-bottom: 35px;
	padding-right:100px;
}
.av{
	padding-top:35px;
	padding-bottom: 20px;
	padding-right:75px;
}
.aw{
	padding-top:35px;
	padding-bottom: 20px;
	padding-right:75px;
}
/*.callig{
	padding-right:200px;
}*/
.tab{
	position: absolute;
	text-align: center;
	top:47%;
	left:15px;
	transform: rotate(-90deg);
}
.threewords{
	position: absolute;
	font-size: 40px;
	font-family: FTB;
	bottom:10%;
	right:80px;
	text-align:right; 
}
.word{
	padding-bottom:20px;
}
.aboutpara{
	position: absolute;
	bottom:100px;
	text-align:center;
	left:50%;
	top:50%;
	transform: translate( -50%);
	/*padding: 30%;*/
	font-size: 24px
}

.indivphoto{
	position: absolute;
	width:850px;
	height:auto;
	right:5%;
	bottom:5%;
	margin-right:30px;
	margin-bottom: 20px;
	top:15%;
}
.indivbody{
	position: absolute;
	font-family: FTB;
	font-size:30px;
	top:20%;
	left:20%;
}

@media (max-width: 950px) {
  .indivphoto{
  	width:100%;
  	left:0;
	top:20%;
  	transition-duration: 0.7s;
  }
	.indivbody{
	top:55%;
  	font-size: 35px;
  	padding:10%;
  	transition-duration: 5s;
  	right:5%;
  }
  .about{
  	transform: rotate(0deg);
  	font-size: 20px;
  	right:3px;
  	text-align: right;
	top:80px;
  }
  .collection{
  	transform: rotate(0deg);
  	right:20px;
  	font-size: 20px;
  	text-align: right;
	top:100px;
  }
}

.arrowleft{
	transform:scale(2);
	position:fixed;
	transform: rotate(90deg);
	bottom:5%;
	right:100px;
	color:lightgray;
}

.arrowright{
	transform:scale(3);
	transform: rotate(90deg);
	position:fixed;
	right:300px;
	bottom:5%;
	color:lightgray;
}
.line1{
	position: fixed;
	border:0.5px solid lightgray;
	width:40px;
	right:105px;
	bottom:38px;
}
.line2{
	position: fixed;
	border:0.5px solid lightgray;
	width:40px;
	right:270px;
	bottom:38px;
}
