html,body { width: 100%; height: 100%; }

/* Changing fonts */
	@font-face {font-family: "FTB"; src: url("../fonts/FTB.ttf"); }
	@font-face {font-family: "FTLC"; src: url("../fonts/FTLC.ttf"); }
body{
	margin:0;
	font-family: FTB ;
}
.content{
	position:absolute;
/*s*/
	/*padding-left:40px;*/
	left:0px;
	width:100%;
	height:auto;
	top:70px;
	/*display: inline-block;*/
}
/*.pens{
	position:absolute;
	display: inline-block;
	width:30%;
	height:auto;
	margin:0;
	right:0px;
	top:70px;
}*/

.ink{
	width:100%;
	height:auto;
	/*position:absolute;*/
	/*left:500px;*/
	/*position:relative;*/
/*	float:bottom;
	display: inline-block;
	overflow: hidden;*/
	/*left:0%;
	margin:0%;*/
	/*display: block;*/
	/*transform: scale(2.5);*/
	opacity: 1;
}
.ink:hover{
	opacity: 0.3;
}
.groupball{
	position:absolute;
	width:100%;
	height:auto;
}

.strokes{
	position:absolute;
	width:30%;
	height:auto;
	right:730px;
	top:80px;
	display: inline-block;
}
.strokes1{
	padding-top:15px;
}
.strokes2{
	padding-top:0px;
}
.strokes3{
	padding-top:28px;
}
.strokes4{
	padding-top:40px;
}
.strokes5{
	padding-top:30px;
}
.strokes6{
	padding-top:60px;
}
/*.inkline{
	display: inline-block;
	padding: 80px;
	left:500px;
	width:900px;
	height: auto;*/
	/*opacity:1;*/
}
/*.inkline:hover{
	opacity: 0.2;
}*/

/*.pen1:hover, .inkline:hover, .ink:hover {
	opacity:1;
	border: 1px solid red;
}
.pen1:hover, .inkline:hover, .ink:hover {
	opacity:0;
}*/

.nav{
	font-family: FTB ;
	font-size: 15px;
	color:#848484;
	display: inline-block;
}
.home{
	position:fixed;
	z-index: 3;
	transform: scale(0.4);
	margin:0;
	left:-10px;
	padding-right:10px;
	top:120px;
	font-size: 22px;
	color:#848484;
	z-index: 5;
	transform: rotate(90deg);
}
.home:hover{
	color:#c4c2c2;	
}
.about{
	position:fixed;
	/*display: inline-block;*/
	float:left;
	right:24px;
	top:80px;
	color:#848484;
	z-index: 5;
	display: inline-block;
	margin-right:15px;
	transform: rotate(90deg); 
	padding-bottom: 5px;
}
.about:hover {
  border-bottom: 2px solid #c4c2c2;
  color:#c4c2c2;
}
.peninfo{
	position:fixed;
	color:#848484;
	z-index: 5;
	width:500px;
	height:auto;
	display: inline-block;
	transform:rotate(90deg);
	left:-190px;
	font-size:13px; 
	padding-right:10px;
	bottom:290px;
	color:#c4c2c2;
	text-align: right; 
}
.ballcollection{
	position:fixed;
	float:left;
	right:-8px;
	top:220px;
	color:#848484;
	display: inline-block;
	transform: rotate(90deg); 
	padding-bottom: 5px;
	z-index: 5;
}
.ballcollection:hover {
  border-bottom: 2px solid #c4c2c2;
  color:#c4c2c2;
}
.calligcollection{
	position:fixed;
	float:left;
	right:-15px;
	top:220px;
	color:#848484;
	display: inline-block;
	transform: rotate(90deg); 
	padding-bottom: 5px;
	z-index: 5;
}
.calligcollection:hover {
  border-bottom: 2px solid #c4c2c2;
  color:#c4c2c2;
}
.brushpencollection{
	position:fixed;
	float:left;
	right:-12px;
	top:220px;
	color:#848484;
	display: inline-block;
	transform: rotate(90deg); 
	padding-bottom: 5px;
	z-index: 5;
}
.brushpencollection:hover {
  border-bottom: 2px solid #c4c2c2;
  color:#c4c2c2;
}
.paintbrushcollection{
	position:fixed;
	float:left;
	right:-15px;
	top:220px;
	color:#848484;
	display: inline-block;
	transform: rotate(90deg); 
	padding-bottom: 5px;
	z-index: 5;
}
.paintbrushcollection:hover {
  border-bottom: 2px solid #c4c2c2;
  color:#c4c2c2;
}
.inkcollection{
	position:fixed;
	float:left;
	right:-2px;
	top:220px;
	color:#848484;
	display: inline-block;
	transform: rotate(90deg); 
	padding-bottom: 5px;
	z-index: 5;
}
.inkcollection:hover {
  border-bottom: 2px solid #c4c2c2;
  color:#c4c2c2;
}
.markercollection{
	position:fixed;
	float:left;
	right:-2px;
	top:220px;
	color:#848484;
	display: inline-block;
	transform: rotate(90deg); 
	padding-bottom: 5px;
	z-index: 5;
}
.markercollection:hover {
  border-bottom: 2px solid #c4c2c2;
  color:#c4c2c2;
}
.collection{
	position:fixed;
	float:left;
	right:22px;
	top:180px;
	color:#848484;
	display: inline-block;
	transform: rotate(90deg); 
	padding-bottom: 5px;
	z-index: 5;
}
.collection:hover {
  border-bottom: 2px solid #c4c2c2;
  color:#c4c2c2;
}
.homee{
	padding-right:5px;
	color:#c4c2c2;
}
.homee:hover{
	color:#848484;
}
.dash{
	padding-right:5px;
	color:#848484;
}
.collectiongroup .list{
	position: fixed;
	width:600px;
	height:40px;
	right:-200px;
	margin-left: 57px;
	top:430px;
	/*top:540px;
	margin-left: 57px;*/
	transform: rotate(90deg);
	opacity: 0;
	z-index: 8;

}
.collection:hover .list{
	visibility:visible;
}

.title{
	position:fixed;
	left:-15px;
	padding-right:10px;
	bottom:115px;
	font-size: 22px;
	color:#848484;
	z-index: 5;
	transform: rotate(90deg);
}
.photohome{
	position:absolute;
	display: inline-block;
	top:40px;
	right:62px;
	width:1300px;
	height:auto;
}


.stroke{
	position:absolute;
	width:100px;
	height:auto;
	z-index: 3;
	top:190px;
	right:1220px;

}
/*.a{
	padding-bottom: 48px;
}
.ab{
	padding-right:30px;
	padding-top:84px;

}
.ac{
	padding-top:60px;
	padding-bottom: 60px;
}
.ad{
	padding-top:100px;
	padding-bottom: 60px;
}
.ae{
	padding-right:90px;
	padding-top:80px;
}
.af{
	padding-right:100px;
	padding-top:60px;
	padding-bottom: 65px;
}
.ag{
	padding-top:70px;
	padding-bottom: 40px;
	padding-right:120px;
}
.ah{
	padding-top:50px;
	padding-bottom: 70px;
	padding-right:120px;
}
.ai{
	padding-top:60px;
	padding-bottom: 60px;
	padding-right:100px;
}
.aj{
	padding-top:40px;
	padding-bottom: 80px;
	padding-right:120px;
}
.ak{
	padding-top:45px;
	padding-bottom:82px;
	padding-right:120px;
}
.az{
	padding-top:50px;
	padding-bottom:78px;
	padding-right:100px;
}

.al{
	padding-top:60px;
	padding-bottom:80px;
	padding-right:110px;
}
.am{
	padding-right:100px;
	padding-top:40px;
	padding-bottom: 65px;
}

.an{
	padding-right:100px;
	padding-top:70px;
	padding-bottom: 55px;
}
.ao{
	padding-right:130px;
	padding-top:83px;
	padding-bottom: 80px;
}
.ap{
	padding-top:50px;
	padding-bottom:75px;
	padding-right:110px;
}

.aq{
	padding-top:46px;
	padding-bottom:75px;
	padding-right:102px;
}
.b{
	padding-right:105px;
	padding-top:30px;
	padding-bottom: 65px;
}
.bb{
	padding-right:90px;
	padding-top:35px;
	padding-bottom: 65px;
}
.bc{
	padding-right:110px;
	padding-top:60px;
	padding-bottom: 60px;
}
.bd{
	padding-right:90px;
	padding-top:40px;
	padding-bottom: 60px;
}
.be{
	padding-right:80px;
	padding-top:40px;
	padding-bottom: 40px;
}
.bf{
	padding-right:60px;
	padding-top:45px;
	padding-bottom: 55px;
}
.c{
	padding-right:68px;
	padding-top:35px;
	padding-bottom: 40px;
}
.ca{
	padding-right:58px;
	padding-top:35px;
	padding-bottom: 40px;
}
.cb{
	padding-right:85px;
	padding-top:45px;
	padding-bottom: 0px;
}
.cc{
	padding-right:75px;
	padding-top:70px;
	padding-bottom: 40px;
}
.cd{
	padding-right:90px;
	padding-top:28px;
	padding-bottom: 45px;
}
.ce{
	padding-right:85px;
	padding-top:30px;
	padding-bottom: 35px;
}
.cf{
	padding-right:108px;
	padding-top:25px;
	padding-bottom: 45px;
}
.cg{
	padding-right:103px;
	padding-top:25px;
	padding-bottom: 30px;
}
.d{
	padding-right:105px;
	padding-top:55px;
	padding-bottom: 32px;
}
.da{
	padding-right:105px;
	padding-top:70px;
	padding-bottom: 60px;
}
.db{
	padding-right:90px;
	padding-top:65px;
	padding-bottom: 55px;
}
.dc{
	padding-right:50px;
	padding-top:83px;
	padding-bottom: 90px;
}
.dd{
	padding-right:75px;
	padding-top:50px;
	padding-bottom: 55px;
}
.de{
	padding-right:75px;
	padding-top:85px;
	padding-bottom: 60px;
}
.df{
	padding-right:75px;
	padding-top:90px;
	padding-bottom: 60px;
}

.tab{
	position: absolute;
	text-align: center;
	top:47%;
	left:15px;
	transform: rotate(-90deg);
}

.e{
	padding-right:100px;
	padding-top:40px;
	padding-bottom: 45px;
}
.ea{
	padding-right:100px;
	padding-top:50px;
	padding-bottom: 60px;
}
.eb{
	padding-right:90px;
	padding-top:45px;
	padding-bottom: 55px;
}
.ec{
	padding-right:85px;
	padding-top:50px;
	padding-bottom: 40px;
}
.ed{
	padding-right:85px;
	padding-top:60px;
	padding-bottom: 40px;
}
.ee{
	padding-right:75px;
	padding-top:60px;
	padding-bottom: 40px;
}
.ef{
	padding-right:90px;
	padding-top:60px;
	padding-bottom: 30px;
}
.eg{
	padding-right:110px;
	padding-top:65px;
	padding-bottom: 80px;
}
.eh{
	padding-right:85px;
	padding-top:70px;
	padding-bottom: 5px;
}
*/
.word{
	padding-bottom:20px;
}
.aboutpara{
	position: absolute;
	bottom:100px;
	text-align:center;
	left:30%;
	top:50%;
	transform: translate( -50%);
	font-size: 12px
}

.aboutparahaiku{
	position: absolute;
	font-family: FTB;
	font-size:30px;
	left:40%;
	top:45%;
}

.aboutimage{
	position:absolute;
	width:300px;
	height:auto;
	bottom:40px;
	left:180px;

}

.indivphoto{
	position: fixed;
	bottom:0;
	top:0;
	height:auto;
	width:100%;
	left:0;
	object-fit: cover;
	height: 100%;
}

.fit-top {
	object-position: top;
}

.fit-bottom {
	object-position: bottom;
}
.fit-left {
	object-position: left;
}
.fit-right {
	object-position: right;
}

.indivbody{
	position: absolute;
	font-family: FTB;
	font-size:30px;
	bottom:60px;
	right:130px;
}
.indivbody2{
	position: absolute;
	font-family: FTB;
	font-size:30px;
	top:90px;
	left:200px;
}
.indivbody3{
	position: absolute;
	font-family: FTB;
	font-size:30px;
	top:90px;
	bottom:0px;
	right:200px;
/*	width:100%;
	height:auto;*/
}
.indivbody4{
	position: absolute;
	font-family: FTB;
	font-size:30px;
	bottom:60px;
	left:130px;
}
.arrowgroup{
	position:fixed;
	transform: scale(2);
	width:10px;
	height:60px;
	right:50px;
	bottom:85px;
}
@media (max-width: 900px) {
  .home{
  	transform: rotate(0deg);
  	top:40px;
  	left:45px;
  }
  .content{
  	right:-15%;
  	transition-duration: 3s;
  }
  .aboutparahaiku{
  	position:absolute;
  	left:5%;
  	padding:5%;
  }
  .ink{
  	/*position: relative;
  	width:auto;
  	height:auto;
  	right:0;*/
  }
  .indivphoto{
  	width:100%;
  	height:auto;
  	left:0;
	top:150px;
  	transition-duration: 1s;
  }
  .indivbody{
	top:65%;
  	font-size: 35px;
  	padding:10%;
  	padding-top:20px;
  	/*transition-duration: 2s;*/
  	left:5%;/*
  	right:5%;*/
  	width:100%;
	height:auto;
  }

  .indivbody2{
	top:65%;
  	font-size: 35px;
  	padding:15%;
  	padding-top:20px;
  	padding-bottom:20px;
  	/*transition-duration: 2s;*/
  	left:3%;
  	width:100%;
  	height:auto;
  	left:5%;
  }
  .indivbody3{
	top:65%;
  	font-size: 35px;
  	padding:10%;
  	/*padding-right:10%;*/
  	padding-top:20px;
  	padding-bottom:20px;
  	/*transition-duration: 2s;*/
  	width:100%;
  	height:auto;
  	left:5%;
  }
    .indivbody4{
	bottom:40px;
  	font-size: 35px;
  	padding:10%;
  	/*transition-duration: 2s;*/
  	left:5%;
  }

  .about{
  	transform: rotate(0deg);
  	font-size: 20px;
  	right:30px;
  	text-align: right;
	top:40px;
  }
  .collection{
  	transform: rotate(0deg);
  	right:45px;
  	font-size: 20px;
  	text-align: right;
	top:80px;
  }
    .ballcollection {
  	transform: rotate(0deg);
  	right:45px;
  	font-size: 20px;
  	text-align: right;
	top:70px;
  }
  .paintbrushcollection {
  	transform: rotate(0deg);
  	right:45px;
  	font-size: 20px;
  	text-align: right;
	top:70px;
  }
  .markercollection {
  	transform: rotate(0deg);
  	right:45px;
  	font-size: 20px;
  	text-align: right;
	top:70px;
  }
  .brushpencollection {
  	transform: rotate(0deg);
  	right:45px;
  	font-size: 20px;
  	text-align: right;
	top:70px;
  }
  .calligcollection {
  	transform: rotate(0deg);
  	right:45px;
  	font-size: 20px;
  	text-align: right;
	top:70px;
  }
  .inkcollection {
  	transform: rotate(0deg);
  	right:45px;
  	font-size: 20px;
  	text-align: right;
	top:70px;
  }
  .arrowgroup{
	width:100px;
	height:10px;
	bottom:30px;
	left:40%;

  }
  .arrowdown{
  	transform: rotate(90deg);
  	bottom:10px;
  	right:0;
  }
  /*not rotating*/
  .arrowup{
  	transform: rotate(90deg);
  	left:0;
  }
}



.left{
	right:0;
}

.right{
	left:0;
	bottom:0;
}

.arrowdown{
	position:absolute;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 8px solid #848484;
	/*transform: rotate(-180deg);*/
	top:0px;
}
.arrowdown:hover{
	border-bottom: 8px solid #c4c2c2;	
}

.arrowup{
	position:absolute;
	width: 0; 
  	height: 0; 
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	border-top: 8px solid #848484;
  	/*transform: rotate(360deg);*/
  	bottom:0px;
}
.arrowup:hover{
	border-top: 8px solid #c4c2c2;	
}

/*.line{
	position: absolute;
	transform: rotate(90deg);
	border:1px solid lightgray;
	width:40px;
}*/
.one{
	bottom:0;
	right:10px;
}
.two{
	right:0;
	bottom:0;
}
